# Binaries
*.o
*.a
*.so
debian-repo-upload-action

# Test binaries
*.test

# Output of coverage
*.out

# Go mod cache
/vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
